.tt-headers-align .mat-expansion-panel-header-title,
.tt-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.tt-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.tt-avatar {
  margin: 20px auto 30px;
  width:100px;
  height:100px;
  border-radius:100px;
  background-image: url('https://jiangtj.gitlab.io/images/avatar.jpg');
  background-size: cover;
}

@media(min-width: 600px){
  .tt-avatar {
    margin: 30px auto 40px;
    width:110px;
    height:110px;
  }
}

@media(min-width: 720px){
  .tt-avatar {
    margin: 40px auto 50px;
    width:120px;
    height:120px;
  }
  .tt-expansion {
    width: 720px;
  }
}

.tt-expansion {
  margin-left: auto;
  margin-right: auto;
}

.tt-icon-small{
  font-size: 13px;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
