<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="white" style="background-color: white">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="jumpToBlog()">
      <mat-icon>border_color</mat-icon>
      <span>博客</span>
    </button>
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>info_outline</mat-icon>
      <span>关于</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div>

  <div style="text-align:center">
    <div class="tt-avatar"></div>
  </div>

  <div class="tt-expansion">
    <mat-accordion class="tt-headers-align">
      <mat-expansion-panel [expanded]="true" (opened)="hideName()" (closed)="showName()" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mine.info.title}}
          </mat-panel-title>
          <mat-panel-description>
            <div>{{mine.info.description}}</div>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>我叫
          <b>姜涛杰</b>，一名热爱code的农民！</p>
        <p>您或许会发现，我在很多地方使用了Kurome这个名字。怎么说呢，我还没想好取个什么笔名。由于某段时间， 比较迷'斩·赤红之瞳！'，于是把喜欢的角色名弄来用起来了--Kurome黑瞳
        </p>
        <p>
          <b>工作经历：</b>
        </p>
        <p>2016.7-至今 于佰米智能开发业务系统</p>
        <p>
          <b>学历：</b>
        </p>
        <p>2017.6 于杭州电子科技大学毕业</p>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="hideSkill()" (closed)="showSkill()" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mine.skill.title}}
          </mat-panel-title>
          <mat-panel-description>
            <div>{{mine.skill.description}}</div>
            <mat-icon>check_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <b>擅长的领域</b>
        </p>
        <p>Java Web开发&系统架构设计</p>
        <p>
          <b>技术栈</b>
        </p>
        <p>语言: Java, JavaScript, TypeScript, Dart</p>
        <p>架构: Spring Cloud, Spring Boot, Mybatis, Spring Data JPA, Angular, Vue</p>
        <p>工具: IntelliJ, VS Code, Git, Jenkins, Gitlab-CI, Docker</p>
        <p>系统: Ubuntu 16, Windows 10</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{mine.open.title}}
          </mat-panel-title>
          <mat-panel-description>
            <div>{{mine.open.description}}</div>
            <mat-icon>cloud_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          <b>Spring Cloud例子</b>
          <a target="_blank" href="https://github.com/JiangTJ/spring-cloud-examples">
            <mat-icon class="tt-icon-small">info</mat-icon>
          </a>
        </p>
        <p>Spring Cloud的例子分散在不同的Repository中，事实上这样做更有利于维护（本身就不是同一个例子，干嘛放一起），但对于我们需要快速搭建Spring Cloud环境的，以及为以后新建的项目提供模板的场景。这样的方式，需要花费额外的时间去不同的仓库寻找。于此，我创建了这个项目用于整合一些简单的Spring Cloud例子。</p>
        <p>标签：Java, Spring Cloud, Spring Boot, RabbitMQ</p>

        <p>
          <b>账单系统（dev）</b>
          <a target="_blank" href="https://github.com/dream-room/bill-server">
            <mat-icon class="tt-icon-small">info</mat-icon>
          </a>
        </p>
        <p>一个帮朋友写的账单系统，实现账单的管理。</p>
        <p>标签：Java, Spring Boot, Spring Data JPA, CI/CD</p>

        <p>
          <b>个人主页项目</b>
          <a target="_blank" href="https://gitlab.com/JiangTJ/me">
            <mat-icon class="tt-icon-small">info</mat-icon>
          </a>
        </p>
        <p>当前您正在访问的项目，后期计划，每年更新一次，应用较新的Web前端技术。</p>
        <p>标签：TypeScript, Angular, Gitlab-CI</p>

        <p>
          <b>个人博客项目</b>
          <a target="_blank" href="https://gitlab.com/JiangTJ/jiangtj.gitlab.io">
            <mat-icon class="tt-icon-small">info</mat-icon>
          </a>
        </p>
        <p>定期更新个人博客。</p>
        <p>标签：JavaScript, Hexo, Theme-Next, Gitlab-CI</p>

        <p>
          <b>固定资产管理系统</b>
          <a target="_blank" href="https://github.com/JiangTJ/enterpriseAssetManagement">
            <mat-icon class="tt-icon-small">info</mat-icon>
          </a>
        </p>
        <p>该项目源于毕设，当时应用了我几乎所有掌握的技术，例如docker, spring boot, vue。然而，比较遗憾的是项目的设计并不是很合理。前端页面开发与后端的开发未能完成分离，采用的是半分离的方式。
        </p>
        <p>标签：Java, JavaScript, Spring Boot, Mybatis, Vue, Docker</p>

      </mat-expansion-panel>


      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            联系方式
          </mat-panel-title>
          <mat-panel-description>
            <div>
              <a href="mailto:jiang.taojie@foxmail.com">jiang.taojie@foxmail.com</a>
            </div>
            <mat-icon>email</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>
