/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    display: block;
    margin: 0px;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: dimgrey;
}
