<h1 mat-dialog-title>Hi Friends</h1>
<div mat-dialog-content>
  <p>这是我的个人主页</p>
  <p>Angular Material提供UI组件</p>
  <p>设计 By Kurome</p>
  <p>隐私声明：</p>
  <p><small>
    我的博客评论与站点监控网站需要GitHub帐号登录，对于登录的用户做以下声明：
  </small></p>
  <p><small>
    1.评论系统所需的信息都来自于GitHub，但由于密钥公开，可能存在一定的风险（目前未发现），您的授权登录表示您已了解其中的风险
  </small></p>
  <p><small>
    2.Chronograf需要邮箱作为用户凭证，除此之外，不保存任何用户信息。目前以及将来，仅收集网站相关内容，如点击量等，不搜集用户信息，如设备号等信息
  </small></p>
  <p><small>
    如有疑问请发送电子邮件给我！谢谢！
  </small></p>
  <p>-- 更新于 2018.5.21</p>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-button (click)="onNoClick()">Okay!</button>
</div>
